.header{
    position: fixed;
    width: 100%;
    height: 110px;
    border-bottom: 2px solid rgb(207, 197, 197);
    z-index: 1001;
    backdrop-filter: blur(30px);
}

*{
    scroll-behavior: smooth;
    margin: 0;
}

.logo{
    width: 80px;
    height: 66px;
    margin-left: 48px;
    margin-top: 20px;
}

.svg1{
    position: relative;
    left: 0px;
    top: 108px;
    width: 100%;
}

.txt1{
    list-style-type: none;
    display: flex;
    position: relative;
    left: 10%;
    font-size: 26px;
    font-family: system-ui;
    margin-top: -2.8%;
    justify-content: center;
}

.las{
    margin-left: 63px;
    transition: 0.5s;
    color: black;
}

.las, a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.las a:hover{
    color: red;
}

.sdfsdfsdfsdf{
color: white;
}
.sdfsdfsdfsdf:hover{
    color: #cacdd2;
}

.txt2{
position: absolute;
width: 307.61px;
height: 17.25px;
left: 327px;
top: 287.97px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 17.5px;
line-height: 26px;
display: flex;
align-items: center;
letter-spacing: 4.2px;
text-transform: uppercase;
color: #FF4935;
}

.txt3{
position: absolute;
width: 566.27px;
height: 336.91px;
left: 322px;
top: 307.55px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 90px;
display: flex;
align-items: center;
color: #080F44;
}

.lsadasd{
    transition: 1s;
    scroll-behavior: smooth;
}

.background_1{
    background-image: url(images/svg.png);
    width: 100%;
}

.text_1{
width: 500px;
height: 500px;
}

.btn1{
    flex-direction: center;
    width: 250px;
    height: 75px;
    background: #FF4935;
    border-radius: 50px;
}


.txt5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
}

.prntmn{
    position: relative;
    left: 986px;
    top: -816px;
}

.werd{
    width: 100%;
    position: relative;
    top: -472px;

}

.wds{
    position: relative;
    top: -480px;
    width: 100%;
}


.wewd1{  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: relative;
    z-index: 10;
    color: white;
    font-size: 76px;
    top: -200px;
}

.wewd{  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    position: relative;
    z-index: 10;
    color: white;
    top: -174px;
    font-size: 26px;
}


.card1{
    font-size: 19.8px;
    align-items: center;
    text-align: center;
    width: 325px;
}

.card2{
    margin-left: 55px;
    font-size: 19.8px;
    align-items: center;
    text-align: center;
    width: 325px;
}

.card3{
    margin-left: 446px;
    margin-top: -246px;
    font-size: 19.8px;
    align-items: center;
    text-align: center;
    width: 325px;
}

.card4{
    margin-left: 10px;
    font-size: 19.8px;
    align-items: center;
    text-align: center;
    width: 325px;
}

.card5{
    margin-left: 55px;
    font-size: 19.8px;
    align-items: center;
    text-align: center;
    width: 325px;
}

.card6{
    margin-left: 55px;
    font-size: 19.8px;
    align-items: center;
    text-align: center;
    width: 325px;
}

.column1{
    display: flex;
    position: relative;
    left: 22%;
}

.column2{
    margin-top: 65px;
    display: flex;
    position: relative;
    left: 21.5%;
}

.wdff{
    margin-top: -425px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sda{
    width: 100%;
    position: relative;
    top: 100px;
}


.wefasf{
    position: relative;
    top: -710px;
    left: 280px;
    z-index: 1;
    height: 655px;
}

.qwedsf{
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding: 30px 0 30px 0;
    top: -1327px;
    left: 1033px;
}

.wqewq{
    color: #5E6067;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 29.5px;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.page2{
    margin-bottom: 100px;
}

.lrm{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 56px;
    top: -14px;
    margin: 0 auto;
    text-align: center;
}

.mizab{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 89px;
    line-height: 87px;
    display: flex;
    align-items: center;
    color: #080F44;
    position: relative;
    left: 286px;
}

.txtt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 22.5px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #5E6067;
    position: relative;
    left: 292px;
}

.btn23 {
    background-color: #ff4935;
    border-radius: 42px;
    border: 1px solid #ff2f1c;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    text-decoration: none;
    width: 243px;
    height: 65px;
    position: relative;
    left: 293px;
}
.btn23:hover {
	opacity: 0.9;
}
.btn23:active {
	position:relative;
	top:1px;
}

button a{
    text-decoration: none;
    color: white;
}

.cowpng{
    background-image: url(https://img.freepik.com/free-vector/coworking-space-isometric-background_1284-22083.jpg?w=2000);
    background-size: cover;
    width: 759px;
    height: 597px;
    position: relative;
    left: 985px;
    opacity: 1;
}

.cowpng:hover{
    opacity: 0.9;
}

.iasa{
    width: 100%;
}

.spisok{

    list-style-image: url("../wqeqwe.png");
    font-size: 30px;
}



.page3{
margin-bottom: 0px;
}

.page4{
margin-bottom: -1313px;
}

.page1{
width: 100%;
height: 1162px;
}
.img_odam{
    position: absolute;
    width: 865.47px;
    height: 760.4px;
    top: 142px;
    left: 957px;
}

.gl_container{
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;
}

.bg_1{
    width: 100%;
    margin: 0 0 0 0;
}


.text_1{
    color: #080f44;
    font-family: "Jaldi", Arial;
    font-size: 6.5em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0px;
position: relative;
left: 173px;
top: 250px;
display: flex;
align-items: center;
}

.container_slider_css{
    margin: 50px auto;
    border-radius: 46px;
    width: 80%;
    height: 767px;
    top: -69px;
    overflow: hidden;
    position: relative;}
.photo_slider_css{position:absolute;animation:round 16s infinite;opacity:0;width:100%}
@keyframes round {
25%{opacity:1}
40%{opacity:0}
}
img:nth-child(1){animation-delay:12s}
img:nth-child(2){animation-delay:8s}
img:nth-child(3){animation-delay:4s}
img:nth-child(4){animation-delay:0}
@media(min-width:0px) and (max-width:320px) {
.container_slider_css{width:80%;height:190px}
}
@media(min-width:321px) and (max-width:480px) {
.container_slider_css{width:80%;height:190px}
}
 .page_slider{
    position: relative;
    top: -1098px;
    left: 1%;
 }

 .txt_2{
    font-size: 24px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff2f1c;
    position: relative;
    top: 327px;
    left: 181px;
 }
 .btn_podrob{
    border: none;
    background-color: #FF4935;
    position: absolute;
    top: 710px;
    border-radius: 10px;
    left: 179px;
    width: 310px;
    height: 50px;
    background: #FF4935;
    box-shadow: 0px 2px 0px #e23522;
    border-radius: 50px;
    position: absolute;
    width: 244.52px;
    height: 54.8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: white;
 }

 .coworkasd{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 532.43px;
    height: 194px;
    left: 290px;
    top: 4207.25px;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #080F44;
 }

 .sadaswggsvd{
    width: 578.25px;
    height: 230px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #525355;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    top: 4415px;
    left: 290px;
 }


 .btnadffa{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 17px 24.7969px 17px 24px;
    position: absolute;
    width: 215.8px;
    height: 39px;
    left: 290px;
    top: 4707px;
    background: #FF4935;
    border-radius: 50px;
 }

 .text_podrob{
    width: 135px;
    height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    position: absolute;
    margin: 10px;
    margin-left: 19%;
    line-height: 20px;
    color: #FFFFFF;
 }

 .img_cowor{
    position: absolute;
    top: 4286px;
    left: 1099px;
    width: 500px;
    height: 500px;
 }

 body {
    background: #fcfcfc;
  
    font-family: sans-serif;
  }
  
  footer {
    position: absolute;
  
    bottom: -4288px;
  
    left: 0;
  
    right: 0;
  
    background: #111;
  
    height: auto;
  
    width: 100vw;
  
    padding-top: 40px;
  
    color: #fff;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    left: 38%;
    top: 50px;
  }

  
  .footer-content h3 {
    font-size: 2.1rem;
  
    font-weight: 500;
  
    text-transform: capitalize;
  
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
  
    margin: 10px auto;
  
    line-height: 28px;
  
    font-size: 14px;
  
    color: #cacdd2;
    
  }
  
  .socials {
    list-style: none;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
  
    color: #fff;
  
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
  
    width: 20px;
  
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: aqua;
  }
  

  
